{% extends 'customer/base.html' %}

{% block content %}
    {% for customer in customers %}
        <div class = "customer">
            <div class = "date">
              <p>Join_date:  {{ customer.Join_date }}</p>
            </div>
            {% comment %} <h1><a href="{%url 'customer_detail' pk=customer.pk %}">{{customer.title}}</a></h1> {% endcomment %}
            <h1><a href="{%url 'customer_detail' pk=customer.pk %}">{{customer}}</a></h1>
            <p>{{ customer.text | linebreaksbr }}</p>
        </div>
      {% empty %}
          <p>blog글이 없습니다.</p>
      {% endfor %}            
{% endblock %}